<div id="register" fxLayout="column">

    <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo.jpg">
            </div>

            <div class="title">CREATE A MAN ACCOUNT</div>

            <div *ngIf="is_registered" class="alert alert-primary" role="alert">
                    You are succesfuly registered! We sent the password to this email: {{  email }}!
            </div>


            <form *ngIf="!is_registered" name="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

               

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-hint *ngIf="registerForm.get('email').status === 'PENDING'">
                    Checking...
                    </mat-hint>
                    <mat-hint *ngIf="registerForm.get('email').status === 'VALID'">
                    😺 Email is available!
                    </mat-hint>
                    
            
                    <mat-error *ngIf="registerForm.get('email').hasError('isExists')">
                    😢 Oh noes, this email is already taken!
                    </mat-error>
                </mat-form-field>

              

                
                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid">
                    CREATE AN ACCOUNT
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/pages/auth/login'">Login</a>
            </div>

        </div>

    </div>

</div>
